# data/*
# !data/share
# !data/external
data/external/human_genome
data/processed/*/SBS96/All_Solutions
*.sif
env*
*.ipynb_checkpoints
signatures.egg-info
*__pycache__
data/output_example_decomp
data/external/Examples
data/raw/birds
